
.card h3 {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #333;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        background-color: #ffffff;
        border-radius: 20px;
        border: 1px solid #eee;
        margin: 1.5rem auto;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        height: auto;
        width: 100%;
        margin: 0 auto;
        display: block;
        border-radius: 15px;
        object-fit: cover;
    }

    a {
        color: #007BFF;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    a:visited {
        color: #007BFF;
    }

    a:hover {
        color: #0056b3;
    }
}

@media (min-width: 768px) {
    .card h3:hover {
        color: #007BFF;
    }

    .card {
        flex: 1 1 220px;
        background-color: #ffffff;
        padding: 2rem;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        max-width: 20rem;
        margin: 1.5rem;
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        border-radius: 15px;
        object-fit: cover;
    }

    a {
        font-size: 1rem;
        color: #007BFF;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    a:visited {
        color: #007BFF;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }
}
